name: Mise à jour Vols Allofly

on:
  schedule:
    - cron: '0 6 * * *' # Tous les jours à 6h00 UTC (7h ou 8h en France)
  workflow_dispatch: # Bouton pour lancer manuellement

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Scraper
        run: python main.py

      - name: Commit and Push ICS
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "action@github.com"
          git add allofly_vols.ics
          git commit -m "Mise à jour auto" || echo "Pas de changement"
          git push
